.pointer{
    cursor: pointer;
    display: inline;
    border: 1px solid rgb(87, 120, 253);
    border-radius: 3px;
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(87, 120, 253);
    display: inline;
    float: right;
}

#navcontainer{
    padding: 0;
    margin: 0;
    width: 100%;
    height:10vh;
    background-color: rgb(42, 42, 42);
    border: 1px solid rgb(42, 42, 42);
    border-radius: 6px;
}

#navheader{
    color:rgb(87, 120, 253);
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: rgb(87, 120, 253)
}

#login{
    position: fixed;
    top: 35%;
    left: 35%;
    background-color:rgb(42, 42, 42);
    width: 30%;
    height: 30%;
    border: 1px solid rgb(42, 42, 42);
    border-radius:6px;
}

#loginheader{
    color: rgb(87, 120, 253);
    text-align: center;
}

#username{
    margin: auto;
    display: block;
}

#password{
    margin: auto;
    display: block;
}

.account{
    cursor: pointer;
    display: inline;
    border: 1px solid rgb(87, 120, 253);
    border-radius: 3px;
}

#loginbtns{
    height: 25%;
    width: 50%;
    margin-left: 15%;
    margin-top: 3%;
}

#makepost{
    position: fixed;
    top: 20%;
    left: 30%;
    background-color:rgb(42, 42, 42);
    width: 40%;
    height: 15%;
    border: 1px solid rgb(42, 42, 42);
    border-radius:6px;
}

#post{
    width: 80%;
    height: 60%;
    margin-top: 1.5%;
    margin-left: 10%;
}

#postbtn{
    color: rgb(87, 120, 253);
    border: 1px solid rgb(87, 120, 253);
    border-radius:6px;
    width: 5%;
    float: right;
    position:bottom;
    margin-top: 16%;
    margin-right: 3%;
    cursor: pointer;
}

.posts{
    width: 100%;
    background-color:black ;
}

#usernamelogged{
    color:rgb(87, 120, 253);
    background-color:rgb(42, 42, 42);
    border: 1px solid rgb(42, 42, 42);
    margin-top: 5px;
    width:165px;
    border-radius: 6px;
}